<!DOCTYPE html>
<html>

  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foods Delivery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    {% endblock head %}

    {% block extra_css %} {% endblock extra_css %}
  </head>

  <body>  

  {% block nav %}  
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for( 'site.index') }}">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for( 'site.restaurants') }}">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for( 'site.about') }}">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <button type="button" class="btn btn-link" href="{{ url_for('site.signup') }}">Primary</button>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" href="{{ url_for('site.login') }}">Login</button>

    </div>
  </div>
</nav>
    {% endblock nav %}

    {% block top %}
    
    {% endblock top %}

    <section class="section">
      <div class="container">
        {% block main %} {% endblock main %}
      </div> 
    </section>

    {% block footer %}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
    {% endblock footer %}
  </body>
</html>