{% extends "base.html" %}  

{% import "macros/list_cards.html" as list_cards %}

{% block top %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
    <p class="title">
      {{ site_name }}
    </p>
    <p class="subtitle">
      {{ site_subtitle }}
    </p>
  </div>
  </div>
</section>
{% endblock top %}
    <div class="alert alert-warning">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  </div>
{% block main %}  
<div class="columns">    
  {{ list_cards.cards([1, 2, 3, 4]) }}
</div>
{% endblock main %}

