{% extends "base.html" %}  

{% block top %}
{% endblock %}
  
{% block main %}

<div class="jumbotron">
  <form class='form-horizontal' action='{{url_for("site.signup")}}' method='POST' enctype='multipart/form-data'>
  {{ form.csrf_token }}
  <fieldset>
    <legend> Cadastre-se</legend>

    <div class="form-group">
      {{ form.email.label(class="col-lg-2 control-label") }}
      <div class="col-lg-10">
        {{ form.email(class="form-control", placeholder="Email") }}
      </div>
    </div>
    
    <div class="form-group">
      {{ form.csrf_token }}
      {{ form.passwd.label(class="col-lg-2 control-label") }}
      <div class="col-lg-10">
        {{ form.passwd(class="form-control", placeholder="Password") }}
      </div>
    </div>

    <div class="form-group">
      {{ form.admin.label(class="col-lg-2 control-label")}}
      <div class="col-lg-10">
        {{ form.admin()}}
      </div>
    </div>

    <div class="form-group">
      {{ form.foto.label(class="col-lg-2 control-label") }}
      <div class="col-lg-10">
        {{ form.foto() }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </fieldset>
</form>  
</div> 


{% endblock %}



